@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 25px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  background: rgb(185, 184, 184);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#5a6486, #1a2035);
  border-radius: 25px;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 7px;
}

.scrollbar-hidden::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background: rgb(207, 206, 206);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .hide-user-div {
    display: none;
  }
  #slider_legend {
    display: none !important;
  }
}

#slider_legend {
  background-color: white;
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.75);
  color: black;
  font-weight: bold;
  font-size: 19px;
}

.star {
  color: #d3d3d3; /* default star color */
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}

.star.filled {
  color: #ffc107; /* filled star color */
}

@keyframes tilt {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

.icon {
  animation: tilt 2s ease-in-out infinite;
}

@keyframes tilt1 {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

.icon2 {
  animation: tilt1 2s ease-in-out infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.icon3 {
  animation: zoom 2s ease-in-out infinite;
}

@keyframes move {
  0% {
    top: -80px;
    left: -100px;
    transform: rotate(90deg);
  }
  25% {
    top: -80px;
    left: 350px;
    transform: rotate(180deg);
  }
  50% {
    top: 400px;
    left: 350px;
    transform: rotate(270deg);
  }
  75% {
    top: 400px;
    left: -100px;
    transform: rotate(360deg);
  }
  100% {
    top: -80px;
    left: -100px;
    transform: rotate(450deg);
  }
}

.icon4 {
  animation: move 8s linear infinite;
}

.carousel {
  width: 100%;
  height: 500px;
  position: relative;
  background: url("./Assets/bg-slider.jpg");
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}

.firstImage {
  z-index: 1;
}

.firstImage[data-animate="left"] {
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}

.firstImage[data-animate="right"] {
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}

.btn {
  position: absolute;
  border: 0;
  border-radius: 5px;
  bottom: 40px;
  z-index: 2;
  transition: 0.5s all ease;
}

.btn:hover {
  cursor: pointer;
  transition: 0.5s all ease;
}

.prevBtn {
  left: 64px;
}

.nextBtn {
  right: 64px;
}
