@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 7px;
}

.scrollbar-hidden::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background: rgb(207, 206, 206);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .hide-user-div {
    display: none;
  }
  #slider_legend {
    display: none !important;
  }
}

#slider_legend {
  background-color: white;
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.75);
  color: black;
  font-weight: bold;
  font-size: 19px;
}
